.status-card{

 text-align:center;
 padding:25px;

}


.status-card h2{

 font-size:28px;

}



.status-on,
.status-off{

 font-size:38px;
 font-weight:bold;
 margin:20px 0;
 line-height:1.3;

}



.status-on{

 color:green;

}



.status-off{

 color:red;

}



.status-card p{

 font-size:18px;
 color:#555;

}



.status-card button{

 background:white;
 padding:12px 25px;
 border-radius:25px;
 font-size:18px;

}
